<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <video id="video" muted="" loop="loop" preload="auto" autoplay="autoplay" webkit-playsinline="true" 
        playsinline="true" src="http://47.106.86.150:8083/img/video/2f61d229521b480eb51f6f0748c11b3d_1630835861473.mp4">
        </video> -->

        <!-- <video id="video" muted="" loop="loop" preload="auto" autoplay="autoplay" controls="" webkit-playsinline="true" playsinline="true" src="http://47.106.86.150:8083/img/video/2f61d229521b480eb51f6f0748c11b3d_1630835861473.mp4"></video> -->

        <video height="500" controls="controls" controls="controls">
            <source src="movie.ogg" type="video/ogg" />
            <source src="http://47.106.86.150:8083/img/video/2f61d229521b480eb51f6f0748c11b3d_1630835861473.mp4" type="video/mp4" />
          </video>
</body>
</html>